{#
/**
 * @file
 * Template for the OpenID connect login buttons.
 */
#}

{# Add a small gap before the buttons. #}
<br>
{# The original template. #}
{% include "@radix/form/form.twig" %}
{# And a separator for the other login options. #}
<div class="openid-form-separator">
  <span>or</span>
</div>
