/* EGM OpenID Connect login */
@import "../../scss/init";

.openid-form-separator {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 2rem 0;

  > span {
    background: #fff;
    padding: 0 10px;
    text-transform: uppercase;
  }
}
